div {
    width: 200px;
    height: 200px;
    border: 0;
    display: inline-block;
}
.div1 {
    background-color: black;
}
.div2 {
    background-color: yellow;
}
.div3 {
    background-color: red;
}
.box.div4 {
    background-color: blue;
    width: 600px;
    display: block;
}